<html>
    <h1>Task List</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>{{ task.title }} - {{ task.due_date }} 
                    <form action="{% url 'task_delete' task.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks available.</p>
    {% endif %}
    <div>
        <a href="{% url 'task_create' %}">
            + Add Task
        </a>
    </div>
</html>